.horizon{
    margin-top:-10px;
}
.Courses{
    flex:0.43;
    margin-left: 50px;
    display: block;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    border-top: 1px solid whitesmoke;
    height:250px;padding:5px;width:300px;margin-top:45px
}
.Itemholder{
}
.course_header{
    display: flex;flex:1;padding: 2px;
}
.Courses:before {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12);
    }
    .Courses:after {
    content: '';
    display: block;
    position: absolute;
    left: 20px;
    bottom: 100%;
    width: 0;
    height: 0;
    border-bottom: 10px solid #98CDF1;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    }
.diver{
    flex:0.4;text-align:right;
}
.mover{
    font-size:15px;margin-top: 10px;font-weight: 700;
}
.moon{
    flex:0.6;
}