* {
    margin: 0;
}
.App{
    display: flex;
    flex-direction: column;
    background-color:linen;
}
.app__body{
    margin-top: 50px;
    display: flex;
    background-color:linen;
}
.app__footer{
    margin-top: 50px;
    background-color:white;
    text-align: center;
}
