.current__course{
    display:flex;
    align-items: left;
    flex-wrap: wrap;
    margin:0;
    padding:0;
    height:50px;
    margin-right: 55px;
}
.individual{
    justify-content:left;
    width: calc(20% - 10px);
    padding: 0px;
    margin-right: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.text{
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.head{
    padding: 5px;
    margin-left: 5px;
}
.title{
    text-align: left;
    margin-top:15px;
    height: fit-content;
}
.individual > img{
    margin-bottom: -20px;
    width:100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit:contain;
}