.justin{
 padding: 1px;
}
.flink{
    color:#1473E6;font-weight: 700;
}
.fcomm{
    color:#1473E6;font-weight: 700;
}
.ftweet{
    color:#1473E6;font-weight: 700;
}
.high{
    width:100%;text-align:center;
}
.flogo{
    height:120px;object-fit: cover;text-align: center;padding: 3px;text-align: center;
}
.foot{
    background-color:whitesmoke;
}